.ui-icon-gmail:after {
  background-image: url("https://www.google.com/support/enterprise/static/gapps/art/common/en/mail_35.gif");
  background-color: transparent;
  background-size: contain;
}

.ui-icon-keep:after {
  background-image: url("https://lh4.googleusercontent.com/NGuqU_xsW_ycybNbhvT6Z6UVYerioEVmFXkNBHEgAkBph4uwfM9be3KySb99tY9OEWadN7vZ=s50-h50-e365");
  background-color: transparent;
  background-size: contain;
}

.ui-icon-oauth:after {
  background-image: url("https://developers.google.com/oauthplayground/assets/images/oauth-2-sm.png");
  background-color: transparent;
  background-size: contain;
}